@font-face {
  font-family: 'game';
  src: url('legame.ttf');
}

body {
  background-color: #0D0037;
  color: #bcdcf2;
  font-family: 'game', arial;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.home_buttons {
    z-index: 5;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 485px;
    margin: 97px 0%;
    color: #566cc3;
}

.start {
  font-size: 2em;
}

#start_a {
   color: #566cc3;
}

#survival_mode_button {
  font-size: 2em;
border-radius: 10px;
}

#survival_mode_button_a {
  color: #566cc3;
}

#container {
  width: 500px;
  height: 500px;
  border-radius: 3px;
  margin-top: -8%;
}

table {
  border-collapse: collapse;
}

#div_time {
  z-index: 3;
  text-align: center;
  position: absolute;
  margin: 0% 0px 0px -35%;
}

#time {
   margin-top: -40px;
font-size: 3em;

}

#timer {
  font-size: 2em;
}

a {
  text-decoration: none;
}

#survival {
  margin-left: -244px;
}

#music {
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  width: 28%;
  margin: -100px 0%;
    padding-left: 8%
}


.grid-row {
    height: 123px;
}

.grid-cell {
  width: 123px;
  border: 1px solid #243885;
  text-align: center;
  color: #bcdcf2;
  font-size: 6em;
}

.score {
  font-size: 4em;
  text-align: center;
}

span {
  color: #314cb6;
}

.quatre {
  background-color: #172353;
}

.huit {
  background-color: #203174;
}

.seize {
  background-color: #293f95;
}

.trente {
  background-color: #314cb6;
}

.soixante {
  background-color: #566cc3;
}

.cent {
  background-color: #7b8dd0;
  font-size: 6em;
}

.deuxcent {
  background-color: #7d89b9;
  font-size: 5em;
}

.cinqcent {
  background-color: #9ca4c1;
  font-size: 6em;
}

.mille {
  background-color: #9c9ac2;
  font-size: 4em;
}

.deuxmille {
  background-color: #c79dc7;
  font-size: 2em;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #0D0037;
    visibility: hidden;
    color: rgb(174, 66, 108);
    padding: 7% 0% 0% 0%;
    /* border-radius: 3px; */
    text-align: center;
}

#overlaygo {
    font-size: 9em;
}

#overlaysco {
  font-size: 4.5em;
  margin-top: -200px;
}

#finalsco {
  font-size: 5.5em;
  color: rgb(250, 100, 108);
  margin-top: -100px;
}

.starto {
  margin-top: -314px;
  margin-left: 228px;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}


